* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  margin: auto;
  background-color: #404041;
  height: 10%;

}

p {
  font-size: 20px;
}

h1,
p.subtitle {
  text-align: center;
  margin: auto;
}

h1 {
  border-bottom: 2px solid #ffffff;
  width: 535px;
  padding-bottom: 10px;
  color: #DD1972;
  font-weight: 800;
  font-size: 62px;

}

h3 {
  display: block;
  color: #404041;
  margin-bottom: 5px;
  margin-top: 30px;

}

.subtitle {
  color: #ffffff;
  background-color: #404041;
  position: relative;
  bottom: 15px;
  width: 325px;
  font-size: 20px;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
}

.font-light {
  font-weight: 300;
}

.scoreboard {
  border: 2px solid #D0D2D3;
  margin: 10px;
}

.latest-score {
  color: #6E6E6E;
  margin-left: 20px;
  display: flex;
  flex-flow: column-wrap;
}

.score-title {
  margin-top: 10px;
  margin-left: 30px;
}

.chall1-score {
  border-right: 2px solid #D0D2D3;
}

.chall1-score,
.chall2-score {
  width: 25%;
  text-align: center;
  margin-bottom: 15px;
}

.style-score {
  color: #DD1972;
  font-weight: 800;
  font-size: 6em;
}

.winnercard {
  border: 1px solid #D0D2D3;
  height: 260px;
  padding: 10px;
  color: #6E6E6E;
  margin: 20px;
}

.chall1-name-output,
.chall2-name-output {

  text-transform: uppercase;
  font-weight: 800;
}

.chall1-name-output {

  margin-left: 5%;
  margin-right: 20px;
}

.chall2-name-output {
  margin-right: 5%;
  margin-left: 20px;
}

.card-headline {
  border-bottom: 2px solid #D0D2D3;
  font-weight: 300;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  }

h2 {
  font-size: 2em;
  font-weight: 800;
  margin-block-start: .8em;
  margin-block-end: 0;
}

p.winner-tagline {
  margin-block-start: 0;
  margin-block-end: .8em;
}

.winner-tagline {
  font-size: 2.5em;
}

.card-winner {
  text-align: center;
  text-transform: uppercase;
}

ul {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px;
}

.card-bottom {
  border-top: 2px solid #D0D2D3;
}

li {
  list-style: none;
  width: ;
  margin: 8px;
}

.remove-card-btn {
  background-color: #6E6E6E;
  color: #fff;
  font-weight: 300;
  font-size: 1em;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.name-guess-form {
  display: flex;
}

.game-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.form-elements {
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
}

label {
  display: block;
}

input {
  width: 100%;
  height: 30px;
}

button {
  background-color: #6E6E6E;
  color: #FFFFFF;
  height: 40px;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  width: 32%;
}

.name-input {
  width: 60%;
}

.guess-input {
  width: 35%;
}

.current-game,
.range {
  border: 3px solid #D0D2D3;
  margin: 10px;
  padding: 10px;
}

.min-output,
.max-output {
  font-weight: 800;
  text-decoration: underline;
  font-size: 20px;
}

.range-card {
  margin-top: 0;
}

.set-range-items {
  display: flex;
  justify-content: space-between;
}

#min-range-input, 
#max-range-input {
  width: 100%;
}

.update-btn {
  width: 20%;
  margin-top: 10px;
}

.style-range-inputs {
  width: 40%;
}